h1 {text-align: center;
    font-size: 100px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: DarkSlateBlue;
}



img{width: 1440px;
border-radius: 0px;
height: 810px;
align: central;
}

.header-buttons { text-align: center;

}

.header-image {
  width: 30%;
  margin: 10% auto auto 10%;
}
body{background-color: AliceBlue}
button{

  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: DarkSlateBlue;
 border: none;
 color: white;
 padding: 10px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 20px;
 margin: 4px 2px;
 margin-right: 100px;
 cursor: pointer;
 border-radius: 12px;
}
